.logout:hover,
.logout:visited,
.logout:active,
.logout{
	margin-top: 11px;
    margin-right: 10px;
    font-size: 12px;
    width: 62px;
    height: 25px;
    text-align: center;
    background: #13c4a5 !important;
    padding: 2px !important;
    color: #fff !important;
    box-shadow: 0px 1px 3px #333;
    border-radius: 8px !important;
    display: inline-block !important;
	cursor:pointer;
}
.logo-top{
	display:inline-block;
	height:40px;
	margin-top:5px;
	margin-left: 25px;
}
#loginform-username{
	width:280px;
}
.login-btn{
	width:280px;
}
.theatre{
	list-style:none;
	position:relative;
	width:100%;
	padding:0px;
	margin:5px 0px 5px 5px;
}
.form-group{
	text-align:left;
}
.panel-heading{
	margin-bottom:0px;
}
.theatre-session{
	width:100%;
	padding:15px 0px;
	border-bottom:solid 1px #eee;
}
.poster{
	width:120px;
	height:160px;
	display:inline-block;
	background:url(../images/raw_event_dft.jpg);
	background-size:cover;
}
.dt-poster{
	width:192px;
	height:111px;
	display:inline-block;
	vertical-align:top;
	background:url(../images/new_page_1.png);
	background-size:cover;
}
.poster img{
	display:inline-block;
	position:relative;
	width: 100%;
    height: 100%;
}
.dt-poster img{
	display:inline-block;
	position:relative;
	width: 100%;
    height: 100%;
}
.session-info{
	height:160px;
	display:inline-block;
	vertical-align:top;
	margin-left:36px;
}
.theatre-name{
	font-weight:bolder;
	color:#333;
	font-size: 18px;
	cursor:pointer;
}
.theatre-time{
	color:#555;
	font-size:14px;
}
.sold-box:hover,
.sold-box:active,
.sold-box{
	display:inline-block;
	position:relative;
	height:18px;
	width:60px;
	border:solid 1px #f4ca5a;
	color:#f4ca5a;
	cursor:default;
	padding: 0px 4px;
    line-height: 16px;
}
.theatre-button-group{
	margin-top: 68px;
}
.theatre-button,
.theatre-button:hover{
	display: inline-block;
    color: #fff;
    background: #5191d1;
    width: 100px;
    height: 32px;
    border-radius: 5px;
	font-size:14px;
	text-align:center;
	padding:5px 0px;
	cursor:default;
	margin-right:11px;
}
.theatre-button:active{
	display: inline-block;
    color: #fff;
    background: #16599c;
    width: 100px;
    height: 32px;
    border-radius: 5px;
}
.theatre-button-red,
.theatre-button-red:hover{
	display: inline-block;
    color: #fff;
    width: 60px;
    height: 32px;
    border-radius: 5px;
	font-size:14px;
	text-align:center;
	padding:5px 0px;
	cursor:default;
	background:#dd4848;
}
.theatre-button-red:active{
	background:#a83636;
	display: inline-block;
    color: #fff;
    width: 60px;
    height: 32px;
    border-radius: 5px;
}
.intro-post{
	width:192px;
	height:111px;
	background:url(../images/new_page_1.png);
	background-size:cover;
}
.top-step,
.top-step:active,
.top-step:hover{
	font-size: 14px;
    color: #233445;
	cursor:pointer;
}
.step-bar{
    margin:auto auto auto 50px;
}
.main-info{
	margin-left:50px;
	margin-top:80px;
}
.info-name,
.info-name:hover,
.info-name:active{
	display:inline-block;
	font-weight:bolder;
	color:#333;
	font-size: 18px;
	cursor:default;
	margin-bottom:30px;
}
.info-time,
.info-time:hover,
.info-time:active{
	color:#555;
	font-size:14px;
}
.info-btn{
	display:inline-block;
	width: 65px;
    height: 30px;
	color:#fff;
	border-radius:6px;
	text-align:center;
	padding:6px;
	margin-bottom:15px;
	cursor:default;
}
.info-btn:hover,
.info-btn:active{
	color:#fff;
}
.info-button-group{
	display:inline-block;
	float:right;
	position:relative;
	width:66px;
	margin-right: 50px;
}
.info-edit-btn{
	background:#5191d1;
}
.info-edit-btn:active{
    background: #16599c;
}
.info-delet-btn{
	background:#dd4848;
}
.info-delet-btn:active{
	background:#a83636;
}
.intro-text{
	padding:50px 65px;
}
.intro-title{
	font-size:16px;
	font-weight:bold;
	color:#333;
}
.intro-main{
	color:#333;
	font-size:14px;
	margin-top: 20px;
	line-height: 20px;
}
.cast-bar{
	margin:0px 60px;
	overflow-y:auto;
}
.cast-slider{
	overflow:auto;
}
.cast-slider{
	list-style:none;
	margin:0px;
	padding:0px;
    word-break: normal;
    white-space: nowrap;
	height:220px;
}
.cast{
	display:inline-block;
	height:200px;
	width:120px;
	margin:5px 5px;
}
.actor-heading{
	width: 120px;
    height: 160px;
	background:#fff;
	margin:0px auto;
	position:relative;
}
.actor-heading img{
	display:inline-block;
	width:100%;
	height:100%;
}
.actor-name{
	margin:0px;
	text-align:center;
	font-size:14px;
	margin-top: 5px;
}
.position{
	margin:0px;
	text-align:center;
	font-size:14px;
}
.post-change:hover,
.post-change:active{
	color:#fff;
}
.post-change{
	display:inline-block;
	width: 65px;
    height: 30px;
	color:#fff;
	border-radius:6px;
	text-align:center;
	padding:6px;
	margin-left:15px;
	cursor:default;
	background:#5191d1;
	vertical-align:bottom;
}
.post-change:active{
    background: #16599c;
}
.input-group{
	display: inline-block;
    width: 160px;
	margin-left: -4px;
}
.theatre-data label{
	vertical-align:top;
	margin-right:20px;
	font-size:18px;
}
.theatre-data{
	margin-top: 60px;
    margin-left: 65px;
}
.theatre-data .row{
	margin-bottom:20px;
}
#data-start-time{
}
.theatre-data input{
	height: 33px !important;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    border: solid 1px #aaa;
	padding-left:5px;
}
.theatre-data input:focus{
	border:solid 1px #5191d1;
}
#data-name{
	width:400px;
}
#data-intro{
	resize:none;
	width:600px;
	height:300px;
	border-radius:4px;
}
.pull-group{
	display: inline-block;
	margin-left: -4px;
	margin-bottom:10px;
}
.add-cast-list{
	width: 330px;
    margin-left: 0px;
    position: relative;
    display: inline-block;
}
.cast-one{
	width:100px;
}
.position-one{
	width:100px;
	height:33px;
	border-radius:4px;
	margin-left:10px;
}
.play{
	visibility:hidden;
	width:100px;
	margin-left:10px;
}
.position-select{
}
.cast-list{
	width: 1270px;
    margin-left: 0px;
    position: relative;
    padding-left: 130px;
    margin-top: 60px;
}
.search-cast{
	display:inline-block;
}
.cast-display{
	display:inline-block;
	width:280px;
	white-space: nowrap;
	margin-bottom: 40px;
}
.actor-display{
	width: 120px;
    height: 160px;
	background:url(../images/raw_event_dft.jpg);
	background-size:cover;
	position:relative;
	display:inline-block;
	vertical-align: top;
}
.actor-display img{
	width:100%;
	height:100%;
}
.actor-heading img{
	display:inline-block;
	width:100%;
	height:100%;
}
.cast-list-name:hover,
.cast-list-name:active,
.cast-list-name{
	font-size: 18px;
    word-wrap: break-word;
    display: inline-block;
    width: 100px;
    white-space: normal;
    margin: 50px 0px 20px 20px;
	color:#333;
}
.letter-guide:hover,
.letter-guide:active,
.letter-guide{
	display: inline-block;
    position: absolute;
    left: 50px;
    top: 0px;
    font-size: 24px;
	cursor:default;
	color:#333;
}
.top-operation{
	padding-left: 36px;
}
.cast-name{
	margin-left:50px;
	font-size:25px;
	margin-top: 45px;
	font-weight:bolder;
}
.main-cast-info{
	margin-top:0px;
	margin-left:50px;
}
.cast-info-details{
	margin-bottom:2px;
}
.intro-main{
	color:#333;
	font-size:14px;
	margin-top: 20px;
	line-height: 20px;
	width:500px;
}
.avatar-btn-group{
	display:inline-block;
	vertical-align:bottom;
}
.avatar-tips{
	width: 160px;
    padding-left: 17px;
    margin-bottom: 25px;
    color: #bbb;
}
.cast-data{
	margin-top: 60px;
    margin-left: 65px;
}
.cast-data .row{
	margin-bottom:10px;
}
.cast-data input{
	height: 26px;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    border: solid 1px #aaa;
	padding-left:5px;
}
.cast-data label{
	vertical-align:top;
	font-size:14px;
	width:80px;
}
.cast-data input:focus{
	border:solid 1px #5191d1;
}
#data-cast-name{
	width:100px;
}
#data-cast-sigh{
	width:100px;
}
.gender{
	border-radius: 4px;
    height: 26px;
    margin-left: -3px;
}
.cast-data-birth{
	color:#999;
	font-size:14px;
}
.change-birth:hover,
.change-birth:active,
.change-birth{
	margin-left:10px;
	color:#5191d1;
	cursor:pointer;
}
.confirm-it:hover,
.confirm-it{
	display: inline-block;
    width: 100px;
    height: 38px;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    padding: 7px;
    margin-left: 15px;
    cursor: default;
    font-size: 16px;
    background: #5191d1;
    vertical-align: bottom;
	margin-top:30px;
}
.confirm-it:active{
    background: #16599c;
	color:#fff;
}
.check-seat:hover,
.check-seat{
	display: inline-block;
    width: 175px;
    height: 38px;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    padding: 7px;
    margin-left: 15px;
    cursor: default;
    font-size: 16px;
    background: #5191d1;
    vertical-align: bottom;
	margin-top:30px;
}
.check-seat:active{
    background: #16599c;
	color:#fff;
}
.ticket-table-wrap{
	width:900px;
	margin-left:-450px;
	overflow-y:auto;
}
.ticket-table-wrap .modal-content{
	padding:20px;
}
.dynamic-block{
	width: 100%;
    padding: 15px 0px;
    border-bottom: solid 1px #eee;
}
.dynamic-info{
	height: 160px;
    display: inline-block;
    vertical-align: top;
    margin-left: 36px;
}
.dynamic-title{
	font-weight: bolder;
    color: #333;
    font-size: 18px;
    cursor: pointer;
}
.dynamic-time{
	color: #555;
    font-size: 14px;
}
.dynamic-list{
	list-style:none;
}
#dynamic-title{
	width:600px;
}
.dynamic-data input{
	height: 33px;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    border: solid 1px #aaa;
    padding-left: 5px;
}
.dynamic-data{
	margin-top: 60px;
    margin-left: 65px;
}
.dynamic-data label{
	vertical-align: top;
    font-size: 14px;
    width: 80px;
}
.dynamic-data .row{
	margin-bottom:20px;
}
.dynamic-data input:focus{
	border:solid 1px #5191d1;
}
.dynamic-text{
	margin-top: 40px;
    border-top: solid 1px #ddd;
    padding: 35px 65px;
    min-height: 480px;
}
.add-time-btn{
	display: inline-block;
    width: 33px;
    height: 33px;
    border: solid 2px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    color: #ddd;
    text-align: center;
    font-size: 30px;
    line-height: 27px;
    margin-left: 10px;
	cursor:pointer;
}
.time-group{
	display:inline-block;
	margin-left: -4px;
	width:125px;
}
.time-input-length{
	width:125px;
}

.left-list{
	display:inline-block;
	width:12%;
	background:#fff;
	height:726px;
	overflow-y:auto;
	border-right:solid #ddd 1px;
	border-bottom:solid #ddd 1px;
}
.theatre-arrange li{
	height: 77px;
	border-bottom:dashed #aaa 1px;
}
.theatre-arrange li:focus{
	background:#afb5be !important;
}
.theatre-arrange a{
	height:100%;
	padding: 30px 10px !important;
	color:#333;
}
.theatre-arrange a:focus,
.theatre-arrange a:hover{
	background:#afb5be !important;
}
.right-form{
	display: inline-block;
    height: 726px;
    width: 87%;
    vertical-align: top;
	overflow: auto;
	text-align:center;
}
.theatre-arrange .active{
	background:#afb5be;
}

.seat{
	width:20px;
	height:17px;
	display:inline-block;
	background:#fff;
	background-image:url(../images/seat.png);
	background-size:cover;
	margin-left: 6px;
}
.selected{
	background-image:url(../images/seat-selected.png);
	background-size:cover;
}
.sold{
	background-image:url(../images/sold.png);
	background-size: 27px;
    background-position: center;
}
.oneset{
	width: 780px;
    margin: 0px auto 10px auto;
}
.search-box{
	width: 136px;
    height: 30px;
    border-radius: 14px;
    display: inline-block;
	position:relative;
}
.stage-block{
	display: inline-block;
    width: 500px;
    height: 90px;
    box-shadow: 0px 1px 4px #000;
    background: #272636;
    border-bottom-right-radius: 32px;
    margin-bottom: 45px;
    margin-top: 50px;
    text-align: center;
    color: #fff;
    border-bottom-left-radius: 32px;
	font-size: 25px;
    font-weight: bolder;
    padding: 22px 0px;
}

.search-box .icon-search{
	position:absolute;
	top: 8px;
	left:3px;
}
.search-box .form-control{
	padding-left:22px;
}
.user-list{
	width:1200px;
	list-style:none;
}
.user-line{
	width: 100%;
    border-bottom: #aaa dashed 1px;
    font-size: 18px;
    height: 40px;
    padding: 8px 0px;
}
.first-item{
	display:inline-block;
	width:23%;
	padding-left:30px;
}
.second-item{
	display:inline-block;
	width:23%;
	padding-left:30px;
}
.third-item{
	display:inline-block;
	width:23%;
	padding-left:30px;
}
.forth-item{
	display:inline-block;
	width:25%;
	padding-left:30px;
}
.user-header{
	display: inline-block;
    width: 1160px;
    height: 40px;
    background: #f7f8f9;
    margin-left: 40px;
    font-size: 18px;
    height: 40px;
    padding: 8px 0px;
	font-weight:bolder;
	margin-top:30px;
}
.header-title{
	display:inline-block;
	padding-left:24px;
}
.change-password{
	cursor:pointer;
	margin-right:30px;
}
.delete-user:hover,
.delete-user:visited,
.delete-user{
	cursor:pointer;
	color:#d61742;
}
.login-form img{
	width:200px;
}
.login-form{
	text-align:center;
	text-align: center;
    margin-top: 88px;
}
.login-form img{
	width:360px;
}
.form-box{
	display:inline-block;
}
.site-login{
	text-align:center;
}
.login-control{
	text-align:left;
	width: 308px;
	height:99px;
}
.login-hint{
	color:#cac9c9;
	font-size:18px;
}
.login-control input{
	box-shadow: none;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 36px;
	padding-left: 10px;
}
.login-tips{
	color:#d02634;
	font-size:14px;
	margin-top:5px;
}
.login{
	width: 100px;
    height: 40px;
    outline: none;
    background: #bac3cc;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    padding: 8px;
    font-weight: bolder;
	cursor:pointer;
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    margin-top: 30px;
}
.login:hover{
	color:#5191d1;
}
.login:active{
	background:#baccc1;
}
.adver-start-choose{
	min-height: 280px;
    width: 100%;
    padding-top: 14px;
	border-bottom:solid 1px #ddd;
	padding-left:36px;
	padding-bottom: 36px;
}
.start-img-wrap{
	display: inline-block;
    width: 135px;
    height: 240px;
    margin-top: 22px;
    border: solid 1px #333;
    margin-right: 30px;
}
.pick-start-banner{
	display: inline-block;
    cursor: pointer;
    width: 80px;
    height: 25px;
    background: #fff;
    border: solid 1px #333;
    border-radius: 5px;
    text-align: center;
    padding: 2px;
    color: #333;
	vertical-align: bottom;
}
.adver-table-sort{
	padding:36px;
	border-bottom: solid 1px #ddd;
}
.adver-table-sort table{
	text-align:center;
	width: 760px;
	margin-top: 40px;
}
.adver-table-sort tr,
.adver-table-sort td{
	border:#666 2px solid;
}
.adver-table-sort tr{
	height:40px;
}
.get-adver{
	margin-top:20px;
}
.get-adver a{
	display: inline-block;
    width: 110px;
    height: 30px;
    border: solid 1px #333;
    text-align: center;
    padding: 5px;
    color: #333;
    border-radius: 6px;
	cursor:pointer;
	background:#fff;
}
.adver-top-set{
	padding:36px;
}
.adver-top-set table{
	text-align:center;
	width: 684px;
	margin-top: 40px;
	margin-bottom: 60px;
}
.adver-top-set tr,
.adver-top-set td{
	border:#666 3px double;
}
.adver-top-set tr{
	height:40px;
}
.modal-content{
	min-height:400px;
	margin-top:200px;
	overflow-y:auto;
}
.adver-list{
	width: 726px;
	padding: 30px 10px;
	text-align:center;
	max-height: 425px;
}
.adver-list-img{
	display:inline-block;
	width:25%;
	min-height: 75px;
	vertical-align: middle;
	position:relative;
}
.adver-list-img img{
	width:100%;
}
.adver-list span{
	width:60%;
	display:inline-block;
}
.adver-list ul{
	list-style:none;
	padding:0px;
	border:solid 1px #ddd;
}
.adver-list li{
	padding:10px;
	border-bottom:dashed 1px #ddd;
}
.adver-list-btn{
	width:15%;
	display:inline-block;
}
.adver-list-btn a{
	display: inline-block;
    width: 80px;
    height: 20px;
    border: solid 1px #ddd;
    color: #333;
    border-radius: 6px;
	cursor:pointer;
}
.all-adv-wrap ul{
	list-style:none;
}
.adv-block{
	width: 100%;
    padding: 15px 0px;
    border-bottom: solid 1px #eee;
}
.adv-poster{
	width: 192px;
    height: 111px;
    display: inline-block;
    vertical-align: top;
    background: url(../images/new_page_1.png);
    background-size: cover;
}
.adv-poster img{
	display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}
.adv-info{
    display: inline-block;
    vertical-align: top;
    margin-left: 36px;
}
.adv-word{
	font-weight: bolder;
    color: #333;
    font-size: 18px;
	height: 66px;
}
.adv-edit:hover,
.adv-edit{
	display: inline-block;
    width: 62px;
    height: 25px;
    background: #5191d1;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 3px;
    margin-right: 25px;
	cursor:pointer;
}
.adv-del:hover,
.adv-del{
	display: inline-block;
    width: 62px;
    height: 25px;
    background: #de2f1c;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 3px;
    margin-right: 35px;
	cursor:pointer;
}
.adv-type a{
	display: inline-block;
    width: 74px;
    height: 30px;
    text-align: center;
    padding: 5px;
    border: solid 1px #ddd;
    border-bottom: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #333;
	cursor:pointer;
}
.adv-type{
	text-align:left;
}
.adv-type .active{
	background:#13c4a5;
	color:#fff;
}
.adv-edit-wrap{
	padding:36px;
}
.edit-item{
	margin-bottom:30px;
}
.edit-item label{
	width:80px;
	vertical-align: top;
}
#adv-title{
	border-radius: 4px;
    box-shadow: none;
    outline: none;
    border: solid 1px #aaa;
    padding-left: 5px;
	width:400px;
}
.adv-cover-wrap{
	display:inline;
	margin-right: 25px;
}
.adv-cover-show{
	display:inline-block;
	width: 256px;
    height: 120px;
	background:#234de2;
}
.adv-cover-operation{
	display:inline-block;
	vertical-align:top;
}
.adv-cover-operation p{
	color:#aaa;
	width:140px;
}
#adv-detail{
	width:800px;
	min-height:500px;
}